{% extends 'base.html' %}

{% block title %}Registro de Empresa{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow p-4">
                <h2 class="card-title text-center mb-4">Registro de Empresa</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-info btn-lg">Registrar Empresa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}